.nav-header {
  
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  

  .navbar-link {
    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    
  }
  .selected {
    font-size: 4rem;
    font-weight: 600;
  }
}
